# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore coverage reports
coverage/

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore compiled files
*.out
*.class
*.o
*.so

# Ignore dependency directories
vendor/

# Ignore specified files
notebooks/tests.ipynb